{% extends 'base.html' %}

{% block title %}
ログアウト | 
{% endblock title %}

{% block content %}

<!-- ログアウト画面 -->
<div class="login loggedout">
    <div class="container">
        <h2 class="login_title loggedout_title">ログアウトしました</h2>
        <h3 class="loggedout_subtitle">また来てくださいね。<!-- Thanks for spending some quality time with the Web site today. --></h3>
        <a class="button_skyblue" href="{% url 'login' %}">再ログイン</a>         
        <a class="to_top" href="{% url 'blog:post_list' %}">トップページに戻る</a>
    </div>
</div>
<!-- END ログアウト画面 -->

{% endblock %}