{% extends 'base.html' %}
{% load static %}

{% block title %}
無料会員登録 | 
{% endblock title %}

{% block content %}

<!-- サインアップ -->
<div class="signup">
    <!-- サインアップコンテナー -->
    <div class="signup_container">

        <h2 class="signup_title">無料会員登録</h2>

        <form class="signup_form" method="POST">

            <label><div class="require">ユーザ名</div>{% csrf_token %}{{ form.username }}</label>

            <label><div class="require">メールアドレス</div>{% csrf_token %}{{ form.email }}</label>

            <label><div class="require">パスワード<span>(最低8文字以上)</span></div>{% csrf_token %}{{ form.password1 }}</label>

            <label><div class="require">パスワードの再入力</div>{% csrf_token %}{{ form.password2 }}</label>
                
            <!-- エラーメッセージを表示 -->
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="signup_error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            
            <button class="button_black" type="submit">登録</button>

        </form> 

    </div>
    <!-- END サインアップコンテナー -->
</div>
<!-- END サインアップ -->

{% endblock %}