{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- ピックアップコンテンツ -->
<div class="pickups">
    <h2>オススメのお仕事情報</h2>
        {% for pick in picks %}
        <li class="pickup_post">
            <a href="{% url 'post_detail' pk=pick.pk %}">
                <h3>{{ pick.title }}</h3>
                    <li>{{ pick.subtitle }}</li>
                    {% if pick.image %}
                    <img src="{{ pick.image.thumbnail.url }}" />
                    {% endif %}
            </a>
        </li>
        {% endfor %}
</div>

<!-- END ピックアップコンテンツ -->

<!-- 記事詳細 -->
<div class="post_detail">
	<!-- コンテナー -->
	<div class="container">
		<div class="post_detail1">
			
			<!-- ヘッダー -->
			<div class="post_detail_header">
				{% if post.image %}
				<img src="{{ post.image.large.url }}"/>
				{% endif %}
				<h2>{{ post.title }}</h2>
				{% if post.published_date %}
				<div class="post_detail_date">{{ post.published_date }}</div>
				{% endif %}
			</div>
			<!-- END ヘッダー -->

			<!-- ボディ -->
			<div class="post_detail_body">
				{{ post.text|linebreaks }}
				<a class="readmore" href="">もっと見る</a>
			</div>
			<!-- END ボディ -->

		</div>

		<div class="post_detail2">

		</div>

	</div>
	<!-- END コンテナー -->

</div>
<!-- END 記事詳細 -->

{% endblock content %}
