{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% include 'blog/pickups.html' %}

<!-- ウェルカムメッセージ -->
{% if user.id  %}
<p>ようこそ、{{ user.username }}さん</p>
<a href="{% url 'logout_view' %}">logout</a>
{% else %}
<p>ようこそ、ゲストさん</p>
{% endif %}

<!-- トップコンテンツ1 -->
<div class="top_content1">
    <ul class="posts container">
        {% for post in posts %}
        <li class="post">
            <a href="{% url 'post_detail' pk=post.pk %}">
                {% if post.image %}
                <img src="{{ post.image.thumbnail.url }}" />
                {% endif %}
                <div class="post_meta">
                    <h2>{{ post.title }}<br /><span>{{ post.subtitle }}</span></h2>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- END トップコンテンツ1 -->

<!-- ページネーション -->
<div class="pagination">
    {% if posts.has_previous %}
    <a class="pagination_first" href="{% url 'post_list' %}"><i class="fas fa-angle-double-left"></i></a>
    <a class="pagination_prev" href="{% url 'post_list' %}{{ posts.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
    {% endif %}
    <div class="current">
    {{ posts.number }}/{{ posts.paginator.num_pages }}
    </div>
    {% if posts.has_next %}
    <a class="pagination_next" href="{% url 'post_list' %}{{ posts.next_page_number }}"><i class="fas fa-angle-right"></i></a>
    <a class="pagination_last" href="{% url 'post_list' %}{{ posts.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
    {% endif %}
</div>
<!-- END ページネーション -->

<!-- トップコンテンツ2 -->
<div class="top_content2">
    <div class="container">
        <img src="{% static 'img/top_content1_main.png' %}" />
        <ul>
            <li><h2>TSUNAGU KNOTの提供する価値</h2></li>
            <li>
                <h3>リアルな就活情報の発信</h3>
                <p>就活が終わった内定者ライターの実体験と、実際の企業の人事の方の意見も織り交ぜて記事を書くため、よりリアルな情報を発信することができます。</p>
            </li>
            <li>
                <h3>仲間ができる</h3>
                <p>TSUNAGUの開催するイベントに参加することによって、留学生同士はもちろん、日本人学生とも仲良くなることができ、一緒に目標に向かって頑張る仲間を作ることができます。</p>
            </li>
            <li>
                <h3>日本の企業と繋がれる</h3>
                <p>TSUNAGUの開催する就活イベントでは様々な企業の方と話す機会があり、イベントを通して日本の様々な企業と繋がることができます。</p>
            </li>
        </ul>
    </div>
</div>
<!-- END トップコンテンツ2 -->

{% endblock content %}
