{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- ピックアップコンテンツ -->
<div class="pickups">
    <h2>オススメのお仕事情報</h2>
        {% for pick in picks %}
        <li class="pickup_post">
            <a href="{% url 'post_detail' pk=pick.pk %}">
                <h3>{{ pick.title }}</h3>
                    <li>{{ pick.subtitle }}</li>
                    {% if pick.image %}
                    <img src="{{ pick.image.thumbnail.url }}" />
                    {% endif %}
            </a>
        </li>
        {% endfor %}
</div>

<!-- END ピックアップコンテンツ -->

<!-- トップコンテンツ1 -->
<div class="top_content1">
    <ul class="posts container">
        {% for post in posts %}
        <li class="post">
            <a href="{% url 'post_detail' pk=post.pk %}">
                {% if post.image %}
                <img src="{{ post.image.thumbnail.url }}" />
                {% endif %}
                <div class="post_meta">
                    <h2><span>{{ post.subtitle }}</span><br />{{ post.title }}</h2>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- END トップコンテンツ1 -->

<!-- ページネーションのリンク設置 -->
<div class="pagination">
    {% if posts.has_previous %}
        <a href="{% url 'post_list' %}">&laquo;first</a>
        <a href="{% url 'post_list' %}{{ posts.previous_page_number }}">&laquo;prev</a>
    {% endif %}
    <span class="current">
        [{{ posts.number }}/{{ posts.paginator.num_pages }}]
    </span>
    {% if posts.has_next %}
        <a href="{% url 'post_list' %}{{ posts.next_page_number }}">next&raquo;</a>
        <a href="{% url 'post_list' %}{{ posts.paginator.num_pages }}">last&raquo;</a>
    {% endif %}
</div>
<!-- END ページネーションのリンク -->

<!-- トップコンテンツ2 -->
<div class="top_content2">
    <div class="container">
        <img src="{% static 'img/top_content1_main.png' %}" />
        <ul>
            <li><h2>LINGs Media Warehouseの<br />提供する価値</h2></li>
            <li>
                <h3>リアルな就活情報の発信</h3>
                <p>就活が終わった内定者ライターの実体験と、実際の企業の人事の方の意見も織り交ぜて記事を書くため、よりリアルな情報を発信することができます。</p>
            </li>
            <li>
                <h3>仲間ができる</h3>
                <p>TSUNAGUの開催するイベントに参加することによって、留学生同士はもちろん、日本人学生とも仲良くなることができ、一緒に目標に向かって頑張る仲間を作ることができます。</p>
            </li>
            <li>
                <h3>日本の企業と繋がれる</h3>
                <p>TSUNAGUの開催する就活イベントでは様々な企業の方と話す機会があり、イベントを通して日本の様々な企業と繋がることができます。</p>
            </li>
        </ul>
    </div>
</div>
<!-- END トップコンテンツ2 -->

{% endblock content %}
