{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- ティップスコンテンツ -->
<div class="tips">
    <h2>イベント一覧</h2>
    <ul>
        {% for tip in tips %}
        <li>
            {% if tip.image %}
            <img src="{{ tip.image.thumbnail.url }}" />
            {% endif %}
            <h4>{{ tip.status }}</h4>
            <a href="{% url 'blog:tip_detail' pk=tip.pk %}"><h3>{{ tip.event_title }}</h3></a>
            <h4>{{ tip.event_date }}</h4>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- END ティップスコンテンツ -->

{% endblock content %}
