{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- ティップ詳細 -->
<div class="tip_detail">
    {% if tip.image %}
    <img src="{{ tip.image.large.url }}" />
    {% endif %}
    <div class="event_data">
    <h2 class="tip_status">{{ tip.status }}&nbsp;{{ tip.event_title }}</h2>
        {% if tip.event_date %}
        <div>開催日時:{{ tip.event_date }}</div>
        {% else %}
        <div>現在、開催日時を調整しております。</div>
        {% endif %}
        <div>場所:{{tip.site }}</div>
        <div>主催者:{{ tip.host }}</div>
        <div>{{ tip.note }}</div>
    </div>
    <div class="event_text">
    {{ tip.text }}
    </div>
    <p>このイベントに参加する場合は、TSNAGUのイベントページより行ってください。<a href="http://tsunagu-career.com/" target="_blank">TSUNAGUへ</a></p>
</div>
<!-- END ティップ詳細 -->

{% endblock content %}
