/* Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900');


/* ノーマライズ */

* {
    box-sizing: border-box;
    min-height:0;
    min-width : 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

img {
    vertical-align: bottom;
}


/* 全体 */

html {
    font-size: 62.5%;
}

p {
    padding-bottom: 1.5em;
    line-height: 1.8em;
}

a {
    color: #6B9DC8;
}

#wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #585858;
    font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
    overflow: hidden;
}


/* コンテナー */

.container {
    display: flex;
    width: 100%;
    max-width: 960px;
}


/* ヘッダー */

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 1);
    transition: all 0.3s;
}

.header_logo > img {
    width: auto;
    height: 40px;
}

.hamb {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 1em;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.hamb_border {
    content: "";
    width: 100%;
    height: 5px;
    background: #585858;
    border-radius: 3px;
    transition: all 1s;
}

.close1 {
    position: absolute;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.close2 {
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media (min-width: 481px) {

    .hamb {
        align-items: flex-end;    
        width: 120px;
    }

    .hamb::before {
        content: "MENU";
        position: absolute;
        top: 8px;
        left: 5px;
        line-height: 1em;
        font-size: 25px;
        font-weight: 900;
        color: #585858;    
    }

    .hamb_border {
        width: 25%;
    }
}


/* ヘッダー / ヘッダーメニュー */

.header_menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.header_menu > li {
    width: 100%;
    height: 100%;
}

.header_menu > li:nth-child(2n) {
    content: "";
    width: 100%;
    height: 1px;
    background: #6B9DC8;
    opacity: 0.5;
}

.header_menu > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.8em;
    font-size: calc(140% + 0.8vw);
    font-weight: 500;
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

.header_menu span {
    font-size: 50%;
}


@media (min-width: 481px) {

    .header_menu {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .header_menu > li {
        width: 33%;
    }

    .header_menu > li:nth-child(2n) {
        width: 1px;
        height: 40px;
    }
}

@media (min-width: 961px) {

    .header_menu > li > a {
        padding: 0.8em;
        font-size: 220%;
    }
}


/* ボディ */

.body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}


/* ピックアップ */

.pickups {
    width: 100%;
    padding: 5px 40px;
    background: linear-gradient(135deg, #05FBFF, #31419A);
}

.pickups > h2 {
    top: 15px;
    left: 195px;
    z-index: 200;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    line-height: 1em;
    font-size: calc(120% + 0.5vw);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.pickups li {
    position: relative;
    height: 150px;
    margin: 0 5px;
    border-radius: 5px;
    overflow: hidden;
}

.pickups li h3, .pickups li h4 {
    position: absolute;
    z-index: 9999;
    width: 90%;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #000, 0 0 2px #000;
}

.pickups li h3 {
    top: 35%;
    z-index: 9999;
    line-height: 1.2em;
    font-size: 1.5em;
    font-weight: 500;
}

.pickups li h4 {
    position: absolute;
    top: 55%;
    font-size: 1em;
}

.pickups a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pickups img {
    width: 100%;
    height: auto;
}

.slick-prev:before, .slick-next:before {
    opacity: 1 !important;
    font-size: 30px !important;
}

.slick-prev {
    left: -35px !important;
}

.slick-next {
    right: -25px !important;
}

@media (min-width: 481px) {

    .pickups {
        padding: 10px 50px 10px 190px;
    }

    .pickups::before {
        content: "";
        position: absolute;
        top: 45px;
        left: 0;
        z-index: 100;
        width: 140px;
        height: 240px;
        background: url(../img/pickups_side.png) left top/ cover no-repeat;
        box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
    }
}

@media (min-width: 961px) {
    .pickups > h2 {
        font-size: 170%;
    }
}


/* フッター */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #2e2e2e;
}

footer .container {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
}


/* 記事一覧 */

.top_content1 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.posts {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 100px 120px 100px 120px;
    padding: 40px 10px;
}

.post {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 4px 3px rgba(100, 100, 100, 0.1);
    overflow: hidden;
}

.post:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.post:nth-child(4) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}

.post:nth-child(8) {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
}

.post a {
    width: 100%;
    height: 100%;
    color: #fff;
}

.post img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
}

.post_meta {
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.post:hover .post_meta {
    background: rgba(242, 50, 42, 0.5);
}

.post_meta h2 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 3px #000, 0 0 2px #000;
}

.post_meta h2 span {
    font-size: 0.6em;
}


/* ページネーション */

.pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    padding-bottom: 30px;
}

.pagination a {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 2.3em;
    color: #fff;
    background: #585858;
}

.pagination i {
    position: absolute;
    top: 4px;
}

.pagination_first {
    left: 0;
}

.pagination_first i {
    left: 4px;
}

.pagination_prev {
    left: 50px;
}

.pagination_prev i {
    left: 9px;
}

.pagination_next {
    right: 50px;
}

.pagination_next i {
    right: 9px;
}

.pagination_last {
    right: 0;
}

.pagination_last i {
    right: 4px;
}

.current {
    margin: 0 10px;
    line-height: 1em;
    letter-spacing: 0.2em;
    font-size: 1.8em;
    font-weight: 700;
    color: #585858;
}


/* トップコンテンツ2 */

.top_content2 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    color: #fff;
    background: url(../img/top_content1_back.jpg) center center/ cover no-repeat;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.top_content2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#05FBFF, #31419A);
    opacity: 0.9;
}

.top_content2 ul {
    z-index: 100;
    padding: 0 0 30px 20px;
}

.top_content2 img {
    z-index: 100;
    width: 45%;
    height: auto;
}

.top_content2 h2 {
    letter-spacing: 2px;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 0 0 3px #000, 0 0 2px #000, 0 0 2px #000;
}

.top_content2 h3 {
    font-size: 2em;
    font-weight: 500;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.top_content2 li {
    position: relative;
    padding-top: 20px;
}

.top_content2 li:not(:nth-child(1)) {
    padding-left: 60px;
}

.top_content2 li::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background: #000;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.top_content2 li:nth-child(2)::before {
    content: "\f09e";
}

.top_content2 li:nth-child(3)::before {
    content: "\f0c0";
}

.top_content2 li:nth-child(4)::before {
    content: "\f2b5";
}

.top_content2 .container {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 10px 0;
}


/* 記事詳細 */

.post_detail {
    width: 100%;
    padding: 30px;
    background: #f8f8f8;
}

.post_detail .container {
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto;
    background: #fff;
}

.post_detail1 {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}

.post_detail_header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.post_detail_header > img {
    width: 100%;
    height: auto;
}

.post_detail_header > h2 {
    width: 100%;
    padding-top: 10px;
    font-size: 2em;
    font-weight: 500;
    color: #585858;
    overflow: hidden;
}

.post_detail_header > h2 > span {
    font-size: 0.6em;
}

.post_detail_date {
    width: 100%;
    color: #a4a4a4;
}

.post_detail_body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 50px;
}

.post_detail_body > img {
    width: 100%;
    height: auto;
}

.post_detail_body > p {
    width: 100%;
    padding-bottom: 1.5em;
    font-size: 1.3em;
}

.readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
    border-radius: 30px;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(90deg, #9AD3F2, #74A5C0);
}

.readmore:hover {
    background: #549ABF;
}


/* ABOUT */

.about_header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background: url(../img/about2.jpg) center center/ cover no-repeat;
    overflow: hidden;
}

.about_header::before {
    content: "";
    display: block;
    padding-top: 34.5%;
}

.about_header > .container {
    flex-flow: column nowrap;
    align-items: center;
    padding: 2vw 2vw 8vw;
}

.about_header > .container > img {
    width: 100%;
    height: auto;
}

.about_header > .container > h2 {
    width: 100%;
    padding: 2vw 0;
    font-size: calc(130% + 1vw);
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.about_body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about_body1 {
    background: url(../img/back1.png) #fff center center/ 5%;
}

.about_body2 {
    background: url(../img/back1.png) #424242 center center/ 5%;
}

.about_body > .container {
    flex-flow: column nowrap;
    align-items: center;
    padding: 7vw 1vw;
}

.about_body > .container > h3 {
    padding-bottom: 1em;
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: 700;
    font-size: calc(140% + 1.85vw);
}

.about_body > .container > h4 {
    position: relative;
    margin: 5vw auto 2vw;
    color: #6C9ED8;
    font-weight: 500;
    font-size: calc(120% + 1.4vw);
}

.about_body > .container > h4::before {
    content: "外国人のみなさ〜ん！";
    position: absolute;
    top: -1.5em;
    left: -10vw;
    color: #F17B3D;
    font-size: 50%;
    transform: rotate(-5deg);
}

.about_body > .container > p {
    font-size: calc(110% + 0.5vw);
}

.about_body1_list {
    width: 100%;
    max-width: 720px;
    border: 5px solid #000;
    background: #F4F5F5;
}

.about_body1_list > li {
    position: relative;
    padding: 5px 3px 5px 15px;
    border-bottom: 2px solid #fff;
    font-size: 110%;
}

.about_body1_list > li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: linear-gradient(135deg, #82AEC8, #A0BDCE);
}

.about_body2 > .container > h3 {
    color: #fff;
}

.about_body2_cont {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 3em;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.about_body2_cont > dt {
    padding: 5vw 3vw 1vw;
    color: #424242;
}

.about_body2_cont > dt > h4 {
    position: relative;
    padding-bottom: 1em;
    text-align: center;
    font-size: calc(120% + 0.6vw);
    font-weight: 500;
}

.about_body2_cont i {
    padding-right: 0.2em;
}

.about_body2_cont > dt > p {
    padding-bottom: 1em;
    font-size: calc(90% + 0.3vw);
}

.about_body2_cont > dd > img {
    width: 100%;
    height: auto;
}

.tsunagu_link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 60%;
    padding-top: 3em;
}

.tsunagu_link > img {
    width: 80%;
}

.tsunagu_link > p {
    width: 100%;
    font-size: calc(90% + 0.75vw);
    text-align: center;
}

.order_a {
    order: 1;
}

.order_b {
    order: 2;
}

@media (min-width: 481px) {
    
    .about_header > .container {
        flex-flow: row nowrap;
        justify-content: center;   
        position: absolute;
        top: 6vw;
        padding: 2em 1em;
    }

    .about_header > .container > img {
        width: 50%;
        height: 100%;
    }
    
    .about_header > .container > h2 {
        width: 50%;
        padding: 0 1em;
        text-align: left;
    }

    .about_body1_list > li {
        font-size: 130%;
    }
    
    .about_body1_list > li::before {
        top: 10px;
    }

    .about_body2_cont {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .about_body2_cont > dt {
        width: 50%;
    }

    .about_body2_cont > dt > h4 {
        text-align: left;
    }

    .about_body2_cont > dd {
        width: 50%;
    }
    
    .about_body2_cont > dd > img {
        width: 100%;
        height: auto;
    }

    .order_a {
        order: 2;
    }
    
    .order_b {
        order: 1;
    }
}

@media (min-width: 961px) {

    .about_header > .container > h2 {
        font-size: 230%;
    }

    .about_body > .container {
        flex-flow: column nowrap;
        align-items: center;
        padding: 6em 1em;
    }

    .about_body > .container > h3 {
        position: relative;
        font-size: 320%;
    }

    .about_body > .container > h4 {
        font-size: 260%;
    }

    .about_body > .container > h4 {
        margin: 2em auto 0.8em;
        font-size: 260%;
    }

    .about_body > .container > p {
        font-size: 160%;
    }

    .about_body1 > .container > h3::before, .about_body1 > .container > h3::after {
        content: "";
        position: absolute;
        top: 30%;
        width: 4em;
        height: 1px;
        background: #585858;
    }

    .about_body > .container > h3::before {
        left: -5em;
    }

    .about_body > .container > h3::before {
        right: 1em;
    }

    .about_body1_list > li {
        padding-left: 30px;
        font-size: 160%;
    }

    .about_body1_list > li::before {
        top: 13px;
        left: 15px;
    }

    .about_body2_cont > dt {
        padding: 5em 2em 1em 4em;
    }

    .about_body2_cont > dt > h4 {
        font-size: 170%;
    }

    .about_body2_cont > dt > p {
        font-size: 120%;
    }

    .tsunagu_link > p {
        font-size: 160%;
    }
}