{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'blog/pickups.html' %}

<!-- 記事一覧 -->
<div class="top_content1">
    <ul class="posts container">
        {% for post in posts %}
        <li class="post">
            <a href="{% url 'blog:post_detail' pk=post.pk %}">
                {% if post.image %}
                <img src="{{ post.image.thumbnail.url }}" />
                {% endif %}
                <div class="post_meta">
                    <h2>{{ post.title }}</h2><h3>{{ post.subtitle }}</h3>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- END 記事一覧 -->

<!-- ページネーション -->
<div class="pagination">
    {% if posts.has_previous %}
    <a class="pagination_first" href="{% url 'blog:post_list' %}"><i class="fas fa-angle-double-left"></i></a>
    <a class="pagination_prev" href="{% url 'blog:post_list' %}{{ posts.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
    {% endif %}
    <div class="current">
    {{ posts.number }}/{{ posts.paginator.num_pages }}
    </div>
    {% if posts.has_next %}
    <a class="pagination_next" href="{% url 'blog:post_list' %}{{ posts.next_page_number }}"><i class="fas fa-angle-right"></i></a>
    <a class="pagination_last" href="{% url 'blog:post_list' %}{{ posts.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
    {% endif %}
</div>
<!-- END ページネーション -->

<!-- トップアバウト -->
<div class="top_content2">
    <div class="container">
        <img src="{% static 'img/top_content1_main.png' %}" />
        <ul class="top_content2_list">
            <li><h2>TSUNAGU KNOTの提供する価値</h2></li>
            <li>
                <h3>外国人求職者向けの最新メディア</h3>
                <p>日本で働きたい外国人の方々に的を絞り、外国人が働ける求人記事・日本現地で働く外国人インタビュー・就職支援イベントの開催告知等、様々な情報を発信します。</p>
            </li>
            <li>
                <h3>日本語と英語の記事を読める</h3>
                <p>当サイトで掲載する記事をすべて英語にも翻訳。日本語が流暢でない方でもお読みいただけます。</p>
            </li>
            <li>
                <h3>日本の企業と繋がれる</h3>
                <p>当サイトを運営する"TSUNAGU"の開催する就活イベントでは、様々な企業の方と話す機会があり、イベントを通して日本の様々な企業と繋がることができます。同時に、共に目標に向かい成長しあえる仲間が見つかります。</p>
            </li>
        </ul>
    </div>
</div>
<!-- END トップアバウト -->

{% endblock content %}