{% extends 'base.html' %}
{% load static %}

{% block title %}
イベント一覧 |  
{% endblock title %}

{% block content %}

<!-- ティップス一覧 -->
<div class="tips_list">
    <h2 class="tips_list_title">お役立ち情報一覧</h2>
    <ul class="container">
        {% for tip in tips %}
        <li>
            <a class="tips_list_post" href="{% url 'blog:tip_detail' pk=tip.pk %}">
                {% if tip.image %}
                <img class="tips_list_thumb" src="{{ tip.image.thumbnail.url }}" />
                {% endif %}
                <div class="tips_list_meta">
                    <span>{{ tip.status }}</span>
                    <h3>{{ tip.event_title }}</h3>
                    <h4>{{ tip.event_date }}</h4>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- END ティップス一覧 -->

{% endblock content %}
